<div class="collections py-3">
  <div class="container">
    <div *ngIf="status === 0" class="fs-2 fw-bold text-center">Ничего не найдено</div>
    <h1 *ngIf="status === 2" class="fs-2 fw-bold text-center mb-5">Результат поиска по запросу: {{inputValue}}</h1>
    <h1 class="title fs-2 fw-bold text-center mb-5" *ngIf="status === 1">Наши чайные коллекции</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <product-card *ngFor="let product of products" [product]="product"></product-card>
    </div>
  </div>
  <div *ngIf="loading" class="loader-bg">
    <div class="loader"></div>
  </div>
</div>
